@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #f3f7fb 14%, #f3f7fb 64%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #f3f7fb 14%, #f3f7fb 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #ffffff;
}

::selection {
  background: #f3f7fb;
  color: #ffffff;
  text-shadow: none;
}

.animate-click {
  animation: clickEffect 0.3s ease-in-out;
}

@keyframes clickEffect {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
